@media screen and (min-width: 769px) {
  .vertical-line-black {
    border-left: thick solid black;
  }
}

.margin-vertical-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.background-black {
  background-color: black;
}

.color-white {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
