@media (min-width: 769px) {
  .vertical-line-black {
    border-left: thick solid black;
  }
}

.margin-vertical-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.background-black {
  background-color: black;
}

.color-white {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Chronicle Hairline A", "Chronicle Hairline B";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-family: "Chronicle Hairline A", "Chronicle Hairline B";
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
}

h3 {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.00025em;
}

h4 {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.00025em;
}

.vertically-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-width {
  max-width: 50%;
}

.google-maps {
  position: relative;
  padding-bottom: 100%; /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
